body{
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}
.main-section{
    padding: 1em;
    display: flex;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-section .logo{
    padding: 4em;
    padding-top: 3em;
}
.main-section .form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-section .logo img{
    width: 100%;
}